spring:
  application:
    name: task-tracker

  datasource:
    url: postgresql://tasktracker_postgres_n3me_user:OtkJiRiszKB4xWLTyHnk3WjQzfG4hHzK@dpg-d4tgoe1r0fns73decdf0-a/tasktracker_postgres_n3me
    username: ${PGUSER:postgres}
    password: ${PGPASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${PORT:8080}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:5173}
